/* GLOBAL STYLING */
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: #ffffe0;
    font-family: Optima, serif;
    font-size: 1em;
}

code {
    font-family: Times, monospace;
}

p {
    color: #dc143c;
}

/* SECTION STYLING */
#banner {
    background-color: #dc143c;
}

#banner > h1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.65em;
    padding-bottom: 0.4em;
    text-align: center;
    font-family: Times, serif;
    font-size: 2.5em;
    color: #ffffe0;
}

#navigation_bar {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.2em;
}

.navigation_link {
    margin-top: auto;
    margin-right: 1em;
    margin-bottom: auto;
    margin-left: 1em;
}

#images {
    text-align: center;
}

.individual_images {
    margin-top: 0;
    margin-right: 2em;
    margin-bottom: 0;
    margin-left: 2em;
}

.caption {
    word-spacing: 20em;
}

#so_who_are_we {
    margin-top: auto;
    margin-right: 2em;
    margin-bottom: auto;
    margin-left: 2em;
    color: #dc143c;
}

#so_who_are_we > h2 {
    margin-bottom: 0;
    text-decoration: underline;
}

#container {
    width: 100%
}
